rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Disallow all reads and writes as Firebase Storage is no longer in use.
    allow read, write: if false;
  }
}